

body{
     background-color:#ffbee3;
     margin:25px;
     }

hr{
         
    border-width: 5px;
    border-style: dotted none none none;
    border-color:#fff6fb;
    height:0px;
    width:5%;
    }

 




    div.polaroid {
      width: 80%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
    }
    
    div.container {
      text-align: center;
      padding: 10px 20px;
    }  
  
    #head_one{
      color: #ff0592;
      font-family: 'Fredericka the Great', cursive;
      font-size:600%;
      text-align:center;
    }
    #p1{
      color: #ff0592;
      text-align:center;
      font-size:150%;
      font-family: 'Sacramento', cursive;

    }
    #p2{
      color: #ff0592;
      text-align:center;
      font-size:150%;
      font-family: 'Sacramento', cursive;

    }
    #p3{
      color: #ff0592;
      text-align:center;
      font-size:300%;
      font-family: 'Playball', cursive;

    }
    #div1{
      
    }